<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <center>
                    <h1 class="neon-effect">Mr. Sleepy</h1></center>
                <center>
                    <h4 class="neon-effect">Change the World in Your Sleep</h4></center>
            </div>
        </div>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <p class="neon-effect">The alarm clock that donates to a charity of your choice everytime you push Snooze.</p>
            </div>
            <div class="col s2"></div>
        </div>
        <div class="row">
        <div class="col s2"></div>
                <div class="col s8">
                    <p class="neon-effect">Every month the user who donates the most will recieve a visa giftcard as well as the right to call themselves Mr. Sleepy</p>
                </div>

        <div class="col s2"></div>

    </div>

        <div class="row">
            <center>
                <a href="/signin"><button id="sibtn" class="btn neon-effect">Sign In</button></a>
                <a href="signup"><button  id="subtn" class="btn neon-effect">Sign Up</button></a>
            </center>
        </div>
        <div class="row">
            <center>
                <div class="col s12"><a class="neon-effect" href="/auth/facebook">Login with Facebook</a>
                </div>
            </center>
        </div>
        
    </div>
    </div>
</body>

</html>